<% provide(:title, "Home") %>


<div class="parallax center">
  <%= image_tag("fiji_crest.png", width: "20%")%>
</div>

<div class="wrapper purple center">
  <div class="fullwidth row">
    <img height="71" src="https://www.phigam.org/image/Icon-Cabin1.png" width="72" /><br /><br />

    <h4>FOUNDING</h4>
    <p>May 1, 1848 at Jefferson College in Canonsburg, PA<br /><br />

    <img height="16" src="https://www.phigam.org/image/Icon-Values.png" width="100" /></p>
    <h4>OUR VALUES</h4>
    <p>Friendship, Knowledge, Service, Morality, Excellence<br /><br />

    <img height="47" src="https://www.phigam.org/image/icon-mission.png" width="81" /></p>
    <h4>OUR MISSION</h4>
    <p>Phi Gamma Delta unites men in enduring friendships, stimulates the pursuit of knowledge, and builds courageous leaders who serve the world with the best that is in them.<br /><br />
    
    <img height="68" src="https://www.phigam.org/image/Icon-Numbers1.png" width="49" /></p>
    <h4>BY THE NUMBERS</h4>
    <p><span style="text-decoration: underline;">180,000+</span> initiated brothers since 1848<br /> 
    <span style="text-decoration: underline;">11,000+</span> undergraduate brothers in <span style="text-decoration: underline;">153</span>&#160;Chapters and <span style="text-decoration: underline;">13</span>&#160;Colonies</p>
  </div>
</div>
