@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$light-gray: #777;
$gray-medium-light: #eaeaea;

body {
  padding-top: 50px;
}

.container-fluid{
  padding: 0%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
  
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $light-gray;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  padding-top: 25px;
}   

/* header */

.navbar-brand {
  padding-top: 13px;
}

/* landing image */

.parallax {
  min-height: 550px;
  background-image: url("toronto_purple.png");
  line-height: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  h1{
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #000;
  }

  p {
    color:#ffffff;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    letter-spacing: 4px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
  }
}

/* about section */

.col-lg-6{
  padding: 30px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 10px;
}

.white{
  padding-top: 30px;
  padding-bottom: 70px;
}



/* quick facts */
 
.wrapper.purple {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #520975;
  color: #fff;
  .fullwidth p {
    font-size: 22px;
    font-weight: 500;
  
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}