@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$light-gray: #777;
$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}


.container {
  padding: 5px;
  width: 85%;
}

.container-fluid{
  padding: 0%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
  
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $light-gray;
}

p {
  display: block;
}   

/* header */

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 5px;
}

#logo {
  font-size: 2.5em;
  color: $gray-medium-light;
  text-transform: uppercase;
  letter-spacing: -1px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* landing image */

.parallax {
  background-image: url("toronto_purple.png");
  line-height: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* quick facts */
 
.wrapper.purple {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #520975;
  color: #fff;
  .fullwidth p {
    font-size: 22px;
    font-weight: 500;
  
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}