<footer class="footer">
  <small>
    The <a href="http://www.phigam.org/">Internaitonal Fraternity</a>
    of <a href="http://fijitk.com/">Phi Gamma Delta - Tau Kappa Chapter</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>